{% load static %}
<nav>
    <img src="{% static 'images/logo1.png' %}" alt="">
    <ul>
        <li><a href="{% url 'lista_proyectos' %}">proyectos</a></li>
        <li><a href="{% url 'lista_tareas_proyecto' proyecto_id=1 %}">Tareas de Proyecto</a></li>
        <li><a href="{% url 'lista_usuarios_asignados' tarea_id=1 %}">Usuarios Asignados</a></li>
        <li><a href="{% url 'tareas_por_observacion' texto_observacion='ejemplo' %}">Con Observación</a></li>
        <li><a href="{% url 'tareas_completadas_por_anio' anio_inicio=2020 anio_fin=2022 %}">Tareas Completadas</a></li>
        <li><a href="{% url 'ultimo_usuario_comentario' proyecto_id=1 %}">Último Comentario</a>
        </li>
        <li><a href="{% url 'comentarios_por_palabra_y_ano' tarea_id=1 palabra_inicial='El' anio=2024 %}">Comentarios Tarea</a></li>
        <li><a href="{% url 'etiquetas_del_proyecto' proyecto_id=1 %}">Etiquetas</a></li>
        <li><a href="{% url 'usuarios_no_asignados_a_tarea' tarea_id=1 %}">No Asignados</a></li>

    </ul>
</nav>