<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>

<body>
    <h1>Inicio</h1>
    <ul>
        <li><a href="{% url 'lista_proyectos' %}">Ver todos los proyectos</a></li>
        <li><a href="{% url 'tareas_con_observaciones' %}">Ver tareas con observaciones</a></li>
        <li><a href="{% url 'tareas_completadas_por_anio' %}">Ver tareas completadas por año</a></li>
        <li><a href="{% url 'usuarios_sin_tarea' %}">Ver usuarios sin tareas asignadas</a></li>
        <li><a href="{% url 'comentarios_por_palabra_y_anio' %}">Buscar comentarios por palabra y año</a></li>
    </ul>
</body>

</html>