<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Proyectos</title>
</head>

<body>
    <h1>Lista de proyectos</h1>

    <ul>
        {% for proyecto in proyectos %}
        <li>
            <h3>{{proyecto.nombre}}</h3>
            <p>Descripción: {{proyecto.descripcion}}</p>
            <p>fecha de inicio: {{proyecto.fecha_inicio}}</p>
            <p>fecha de finalización: {{proyecto.fecha_fin}}</p>
            <p>Creador: {{proyecto.creador}}
            <p>Usuarios asignados:</p>
            {% for usuario in proyecto.usuarios_asignados.all %}
            <p> {{usuario.nombre}} </p>
            <a href="{% url 'lista_tareas_proyecto' proyecto.id %}">Tareas del proyecto</a>

            {% endfor %}


        </li>
        {% empty %}
        <li>No hay proyectos disponibles</li>
        {% endfor %}

        <a href="{% url 'index' %}">Inicio</a>


    </ul>


</body>

</html>