<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas con Observaciones</title>
</head>

<body>
    <h1>Tareas con Observaciones</h1>
    <ul>
        {% for tarea in tareas %}
        <li>
            <h3>{{ tarea.titulo }}</h3>
            <p>{{ tarea.descripcion }}</p>
            <p>Observaciones: {{ tarea.asignaciontareas.first.observaciones }}</p>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Volver al inicio</a>
</body>

</html>