<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Último Comentario en Tareas</title>
</head>

<body>
    <h1>Último Comentario de las Tareas del Proyecto: {{ proyecto.nombre }}</h1>
    <ul>
        {% for tarea, comentario in ultimo_comentarios.items %}
        <li>
            <h3>Tarea: {{ tarea.titulo }}</h3>
            <p>Último comentario: {{ comentario.contenido }}</p>
            <p>Autor: {{ comentario.autor.nombre }} ({{ comentario.fecha_comentario }})</p>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'lista_proyectos' %}">Volver a la lista de proyectos</a>
</body>

</html>