<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Último Usuario que Comentó</title>
</head>

<body>
    <h1>Último Usuario que Comentó en una Tarea del Proyecto</h1>

    {% if ultimo_comentario_info %}
    <p>Último usuario que comentó: {{ ultimo_comentario_info.0.autor__nombre }}</p>
    <p>En la tarea: {{ ultimo_comentario_info.0.tarea__titulo }}</p>
    {% else %}
    <p>No hay comentarios en ninguna tarea de este proyecto.</p>
    {% endif %}
    <a href="{% url 'lista_proyectos' %}">Volver a la lista de proyectos</a>
</body>

</html>